.registration-container {
  max-width: 800px;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group input:focus {
  outline: none;
  border-color: #007bff;
}

.input-group button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-group button:hover {
  background-color: #0056b3;
}

.text-right{
  text-decoration: none;
  text-align: right;
}

.change{
  cursor: pointer;
  color: #007bff;
}

@media (max-width: 480px) {
  .registration-container {
    max-width: 100%;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }

  .input-group input,
  .input-group button {
    font-size: 14px;
  }
}
